# Dependencies
node_modules
.pnp
.pnp.js

# Build
dist
build

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
frontend/.env
backend/.env

# Store files
.DS_Store
Thumbs.db

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor
.vscode
.idea

# Old folder (to be deleted)
redcaard-react/
www.redcaard.com/

dripdrip.in/
